<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BusSystem</display-name>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>servlet.CheckImgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectBusServlet</servlet-name>
    <servlet-class>servletBus.allBusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>findBusServlet</servlet-name>
    <servlet-class>servletBus.selectBusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editBusServlet</servlet-name>
    <servlet-class>servletBus.editBusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateBusServlet</servlet-name>
    <servlet-class>servletBus.updateBusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteBusServlet</servlet-name>
    <servlet-class>servletBus.deleteBusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addBusServlet</servlet-name>
    <servlet-class>servletBus.addBusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>allBuslineServlet</servlet-name>
    <servlet-class>servletBusline.allBuslineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectBuslineServlet</servlet-name>
    <servlet-class>servletBusline.selectBuslineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editBuslineServlet</servlet-name>
    <servlet-class>servletBusline.editBuslineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateBuslineServlet</servlet-name>
    <servlet-class>servletBusline.updateBuslineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteBuslineServlet</servlet-name>
    <servlet-class>servletBusline.deleteBuslineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addBuslineServlet</servlet-name>
    <servlet-class>servletBusline.addBuslineServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>allBusticketServlet</servlet-name>
    <servlet-class>servletBusticket.allBusticketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectBusticketServlet</servlet-name>
    <servlet-class>servletBusticket.selectBusticketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editBusticketServlet</servlet-name>
    <servlet-class>servletBusticket.editBusticketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteBusticketServlet</servlet-name>
    <servlet-class>servletBusticket.deleteBusticketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateBusticketServlet</servlet-name>
    <servlet-class>servletBusticket.updateBusticketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addBusticketServlet</servlet-name>
    <servlet-class>servletBusticket.addBusticketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addUserServlet</servlet-name>
    <servlet-class>servlet.addUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>allUserServlet</servlet-name>
    <servlet-class>servlet.allUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editUserServlet</servlet-name>
    <servlet-class>servlet.editUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>allbusNoServlet</servlet-name>
    <servlet-class>servletBusline.allbusNoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>allbuslineNoServlet</servlet-name>
    <servlet-class>servletBusticket.allbuslineNoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectUserServlet</servlet-name>
    <servlet-class>servlet.selectUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>servlet.updateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>servlet.deleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editPwdServlet</servlet-name>
    <servlet-class>servlet.editPwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updatePwdServlet</servlet-name>
    <servlet-class>servlet.updatePwdServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/imageCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectBusServlet</servlet-name>
    <url-pattern>/allBusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findBusServlet</servlet-name>
    <url-pattern>/selectBusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editBusServlet</servlet-name>
    <url-pattern>/editBusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateBusServlet</servlet-name>
    <url-pattern>/updateBusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteBusServlet</servlet-name>
    <url-pattern>/deleteBusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addBusServlet</servlet-name>
    <url-pattern>/addBusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>allBuslineServlet</servlet-name>
    <url-pattern>/allBuslineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectBuslineServlet</servlet-name>
    <url-pattern>/selectBuslineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editBuslineServlet</servlet-name>
    <url-pattern>/editBuslineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateBuslineServlet</servlet-name>
    <url-pattern>/updateBuslineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteBuslineServlet</servlet-name>
    <url-pattern>/deleteBuslineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addBuslineServlet</servlet-name>
    <url-pattern>/addBuslineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>allBusticketServlet</servlet-name>
    <url-pattern>/allBusticketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectBusticketServlet</servlet-name>
    <url-pattern>/selectBusticketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editBusticketServlet</servlet-name>
    <url-pattern>/editBusticketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteBusticketServlet</servlet-name>
    <url-pattern>/deleteBusticketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateBusticketServlet</servlet-name>
    <url-pattern>/updateBusticketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addBusticketServlet</servlet-name>
    <url-pattern>/addBusticketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUserServlet</servlet-name>
    <url-pattern>/addUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>allUserServlet</servlet-name>
    <url-pattern>/allUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editUserServlet</servlet-name>
    <url-pattern>/editUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>allbusNoServlet</servlet-name>
    <url-pattern>/allbusNoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>allbuslineNoServlet</servlet-name>
    <url-pattern>/allbuslineNoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectUserServlet</servlet-name>
    <url-pattern>/selectUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/updateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editPwdServlet</servlet-name>
    <url-pattern>/editPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatePwdServlet</servlet-name>
    <url-pattern>/updatePwdServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>